@tailwind utilities;

.turbo-select {
  @apply relative;

  .button {
    @apply relative border border-gray-300 border-solid w-full cursor-default h-12 rounded-md bg-white py-1.5 px-4 text-lg text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500;
    @apply rtl:pl-4 rtl:pr-1.5; /* Меняем padding для RTL */
  }

  img.img {
    @apply mr-1.5 rtl:mr-0 rtl:ml-1.5 h-5 w-5 flex-shrink-0;
  }

  .spinner {
    @apply w-6 h-6 text-white animate-spin dark:text-gray-600 fill-blue-600;
  }

  .input {
    @apply relative border border-gray-300 border-solid w-full h-12 cursor-default rounded-md bg-white py-1.5 px-4 text-lg text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-500;
    @apply rtl:pl-4 rtl:pr-1.5; /* Меняем padding для RTL */
  }

  .listbox {
    @apply absolute z-10 mt-1 max-h-56 w-full border border-gray-300 border-solid overflow-auto rounded-md p-0 m-0 bg-white py-1 text-base shadow-lg ring-1 ring-black list-none ring-opacity-5 focus:outline-none;
    margin-left: 0 !important;
    margin-right: 0 !important;
    @apply rtl:right-0 rtl:left-auto; /* Выровнять для RTL */
  }

  .not-found {
    @apply absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600;
    @apply rtl:right-auto rtl:left-0 rtl:pl-4 rtl:pr-0; /* Для RTL */
  }

  .option {
    @apply relative cursor-default select-none py-2 pl-4 pr-9 m-0 text-gray-900 hover:bg-gray-100;
    margin: 0 !important;
    @apply rtl:pl-9 rtl:pr-4; /* Для RTL */
  }

  .caret {
    @apply pointer-events-none absolute inset-y-0 right-0 ml-3 flex items-center pr-2;
    @apply rtl:right-auto rtl:left-0 rtl:pl-2 rtl:ml-0; /* Для RTL */

    svg {
      @apply h-5 w-5 text-gray-400;
    }
  }

  .title {
    @apply block truncate;
  }

  .option-highlighted {
    @apply bg-gray-100;
  }

  .checked {
    @apply absolute inset-y-0 right-0 flex items-center pr-4 text-indigo-600;
    @apply rtl:right-auto rtl:left-0 rtl:pl-4 rtl:pr-0; /* Для RTL */
  }

  .not-found {
    @apply relative cursor-default select-none py-2 pl-3 pr-9 text-gray-500;
    @apply rtl:pl-9 rtl:pr-3; /* Для RTL */
  }
}
